.listWrapper {
    width: 25%;
    box-shadow: 5px 5px 7px lightgray;
    padding: 0;
}

.listItem {
    display: flex;
    justify-content: space-between;
    background-color: rgb(233, 235, 236);
    color: grey;
    padding: 10px;
    margin: 0;
}

.listItem span {
    width: 30%;
}

.selected {
    background: rgb(21, 36, 68);
    color: white;
}

.areasList {
    box-sizing: border-box;
    border-bottom: 1px solid rgb(21, 36, 68);
}

.airportArea {
    border-top: 1px solid rgb(21, 36, 68);
    border-bottom: 1px solid rgb(21, 36, 68);
    background: #f8f8f8;
}

.sublist {
    padding-left: 35px;
}