<input type="text" [(ngModel)]="origin">
<ul *ngIf="origin.length > 2" class="listWrapper">
    <div *ngFor="let airport of airportsList">
        <div *ngIf="airport.airport">
            <li appHighlight class="listItem" (click)="addToInput(airport)">
                <span>
                    {{airport.airport}}
                </span>
                <span>
                    {{airport.code | uppercase}}
                </span><span>
                    {{airport.country}}
                </span>
            </li>
        </div>
        <div *ngIf="airport.area" class="areasList">
            <div class="airportArea">
                {{airport.area}}
            </div>
            <li appHighlight *ngFor="let item of airport.items" class="listItem sublist" (click)="addToInput(item)">
                <span>{{item.airport}}</span>
                <span>
                    {{item.code | uppercase}}
                </span>
                <span>
                    {{item.country}}
                </span>
            </li>
        </div>
    </div>
</ul>


<!-- rozszerzenie paragrafu p zeby mial kod kraj itd// -->
<!-- dodac metode onKeyDown zeby mozna strzalkami wybierac, po nacisnieciu gora i dol ktorys z paragrafow p jest selected -->