<input type="text" [(ngModel)]="origin" />
<ul *ngIf="origin.length > 2" class="listWrapper" >
    <li appHighlight class="listItem" *ngFor="let airport of airportsList"
        (click)="addToInput(airport)" >
        <span>
                {{airport.airport || airport.area}}
        </span>
        <span>
            {{airport.code | uppercase}}
        </span><span>
            {{airport.country}}
        </span>
    </li>
</ul>


<!-- rozszerzenie paragrafu p zeby mial kod kraj itd// -->
<!-- dodac metode onKeyDown zeby mozna strzalkami wybierac, po nacisnieciu gora i dol ktorys z paragrafow p jest selected -->