<label>
<input 
type="text" 
[(ngModel)]="value"
placeholder="{{placeholder}}" 
class="input" 
isOpened="isOpened"
(keyup.arrowup)="previousAirport()"
(keyup.arrowdown)="nextAirport()"
(keydown.enter)="closeList()"
>
<span class="label">{{placeholder}}</span>
<span class="close" (click)="clearInput()"></span>
<span class="border"></span>
</label>
<ul *ngIf="value.length > 2 && isOpened" class="listWrapper">
    <div *ngFor="let airport of airportsList"
        class="itemWrapper"
        (mouseenter)="onMouseOver(airport)"
        (mouseleave)="onMouseLeave(airport)"
    
    >
        <div *ngIf="airport.airport">
            <li class="listItem" [class.selected]="airport.selected" (click)="addToInput(airport)">
                <span>
                    {{airport.airport}}
                </span>
                <span>
                    {{airport.code | uppercase}}
                </span>
                <span>
                    {{airport.country}}
                </span>
            </li>
        </div>
        <div *ngIf="airport.area" class="areasList">
            <div class="areaName">
                {{airport.area}}
            </div>
            <li *ngFor="let item of airport.items" class="listItem sublist" (click)="addToInput(item)">
                <span>{{item.airport}}</span>
                <span>
                    {{item.code | uppercase}}
                </span>
                <span>
                    {{item.country}}
                </span>
            </li>
        </div>
    </div>
</ul>
