.calendarComponentWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.calendarWrapper {
  width: 60%;
  display: flex;
  justify-content: flex-start;
}

.example-full-width {
  padding: 20px;
}

.checkboxWrapper {
  display: flex;
  margin-left: 20px;
}

.checkboxWrapper p {
  align-self: center;
}

.checkboxWrapper input {
  margin-bottom: 4px;
  height: 30px;
  width: 30px;
}

@media (max-width: 801px) {
  .calendarWrapper {
    flex-direction: column;
    align-self: center;
  }
  
  .checkboxWrapper {
    align-self: flex-start;
    margin-left: 95px;
  }

  .checkboxWrapper input {
    margin-top: 16px;
    height: 20px;
    width: 20px;
  }

  .example-full-width {
    padding: 0;
  }
}
