.calendarComponentWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.checkboxWrapper {
  display: flex;
  margin-left: 20px;
}

.checkboxWrapper p {
  align-self: center;
}

.checkboxWrapper input {
  margin-bottom: 4px;
  height: 30px;
  width: 30px;
}

@media (max-width: 801px) {
  .calendarComponentWrapper {
    align-items: center;
  }

  .checkboxWrapper {
    align-self: flex-start;
    margin-left: 95px;
  }

  .checkboxWrapper input {
    margin-top: 16px;
    height: 20px;
    width: 20px;
  }
}



.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.form-group {
  margin-bottom: 0;
}

.calendar.btn {
    z-index: 1;
    &:hover {
      background-color: rgb(21, 36, 68);
    }
}


@media (max-width: 541px) {
 .ml-2 {
   margin-left: 0 !important;
   margin-top: 10px;
 }
}



