.navbar-expand-lg {
  padding-bottom: 0;
}

.nav-item {
  display: flex;
  justify-content: flex-start;
  color: blue !important;
  align-items: flex-end;
  border: 1px solid grey;
  border-radius: 5px 5px 0 0;

  &.nav-link {
    font-size: 30px;
    color: white !important;
  }
}

.show .nav-item {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
  align-items: flex-end;
  height: 50px;
}

.show .nav-item:hover {
  background: grey;
}

.show .nav-item .nav-link {
  padding-bottom: 0;
}
