// .navbarWrapper {
//     display: flex;
//     align-items: flex-end;
//     height: 60px;
//     width: 100%;
//     background-color: rgb(21, 36, 68);
//     color: white;
//     font-size: 18px;
//     font-weight: 500;
//     position: sticky;

// }


// .itemsWrapper {
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
// }

// .navbarItem {
//     border: 1px solid grey;
//     border-bottom: 0px;
//     border-radius: 10px 10px 0 0;
//     padding: 15px 60px;
//     // margin: 1px;
// }


.navbar-expand-lg {
    padding-bottom: 0;
}

.nav-item {
    display: flex;
    justify-content: flex-start;
    color: blue !important;
    align-items: flex-end;
    border: 1px solid grey;
    border-radius: 5px 5px 0 0;

    &.nav-link {
        font-size: 30px;
        color: white !important;
    }
}


.show .nav-item {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid grey;
    align-items: flex-end;
    height: 50px;
}

.show .nav-item:hover{
   background: grey;
}

.show .nav-item .nav-link {
    padding-bottom: 0;
}